PdCommon/bin/
PdCommon/gen/
PdCore/bin/
PdCore/gen/
PdCore/obj/
PdCore/jni/libpd/pure-data/src/libpdnative.so
PdCore/jni/libpd/pure-data/src/libpd.so
PdCore/jni/src/example/pdtest
PdTest/bin/
PdTest/gen/
local.properties
*.o
