CircleOfFifths/bin/
CircleOfFifths/gen/
PdClient/bin/
PdClient/gen/
PdClient/obj/
PdCommon/bin/
PdCommon/gen/
PdCore/bin/
PdCore/gen/
PdCore/jni/libpd/pure-data/src/libpdnative.so
PdCore/jni/libpd/pure-data/src/libpd.so
PdCore/jni/src/example/pdtest
PdCore/obj/
PdTest/bin/
PdTest/gen/
ScenePlayer/bin/
ScenePlayer/gen/
ScenePlayer/libs/
ScenePlayer/obj/
TAGS
local.properties
*.o
